* {
  padding: 0;
  border: 0;
  font-size: 0;
  margin: 0; }

html {
  font-size: 20px;
  width: 100%;
  height: 100%;
  overflow: hidden; }

body {
  font-size: 20px;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  body .click {
    width: 30px;
    height: 30px;
    position: fixed;
    left: 16px;
    background: white;
    cursor: pointer;
    z-index: 1002;
    font-size: 20px;
    opacity: 0.8;
    border-radius: 30px;
    text-align: center;
    -webkit-transform: opacity 1s ease-in;
            transform: opacity 1s ease-in; }
  body .notShowclick {
    opacity: 0; }
  body .clicktop {
    top: 20px; }
  body .clickbottom {
    bottom: 20px; }
  body #appall {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
    body #appall .slider {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 100%;
      background: black;
      -webkit-transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      z-index: 1003; }
    body #appall .menu {
      z-index: 1004;
      width: 40px;
      height: 38px;
      overflow: hidden;
      position: absolute;
      right: 40px;
      top: 20px;
      cursor: pointer; }
      body #appall .menu:hover .menubox {
        top: -20px; }
      body #appall .menu .menubox {
        width: 100%;
        height: auto;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        -webkit-transition: all 0.35s ease-in;
        transition: all 0.35s ease-in; }
        body #appall .menu .menubox:nth-child(3) {
          margin-bottom: 20px; }
        body #appall .menu .menubox .menuline {
          width: 100%;
          height: 5px;
          background: white;
          margin-bottom: 8px; }
    body #appall .login {
      width: auto;
      height: auto;
      position: absolute;
      z-index: 1002;
      right: 120px;
      top: 22px;
      color: white;
      font-size: 20px;
      cursor: pointer;
      -webkit-transition: all 0.35s ease-in;
      transition: all 0.35s ease-in; }
      body #appall .login:hover {
        color: blue; }
  body #app {
    width: 100%;
    height: auto;
    background: grey;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.25s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.25s cubic-bezier(0.86, 0, 0.07, 1);
    z-index: 1000; }
    body #app .div1, body #app .div2, body #app .div3, body #app .div4 {
      width: 100%;
      height: 800px;
      background: blue;
      font-size: 20px;
      z-index: 100; }
    body #app .div1 {
      background: #6F8F72; }
      body #app .div1 #svgForStroke1 {
        position: relative;
        top: 10px;
        left: 10px; }
      @media screen and (max-width: 800px) {
        body #app .div1 #svgForStroke1 {
          display: none; } }
      body #app .div1 path, body #app .div1 line, body #app .div1 text, body #app .div1 rect {
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        -webkit-animation: dash 4s ease-in;
                animation: dash 4s ease-in;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
        -webkit-animation-direction: no;
                animation-direction: no; }
      body #app .div1 #svg_1 {
        -webkit-animation-delay: 0.15s;
                animation-delay: 0.15s; }
      body #app .div1 #svg_2 {
        -webkit-animation-delay: 0.3s;
                animation-delay: 0.3s; }
      body #app .div1 #svg_3 {
        -webkit-animation-delay: 0.45s;
                animation-delay: 0.45s; }
      body #app .div1 #svg_4 {
        -webkit-animation-delay: 0.6s;
                animation-delay: 0.6s; }
      body #app .div1 #svg_5 {
        -webkit-animation-delay: 0.75s;
                animation-delay: 0.75s; }
      body #app .div1 #svg_6 {
        -webkit-animation-delay: 0.9s;
                animation-delay: 0.9s; }
      body #app .div1 #svg_7 {
        -webkit-animation-delay: 1.05s;
                animation-delay: 1.05s; }
      body #app .div1 #svg_8 {
        -webkit-animation-delay: 1.2s;
                animation-delay: 1.2s; }
      body #app .div1 #svg_9 {
        -webkit-animation-delay: 1.35s;
                animation-delay: 1.35s; }
      body #app .div1 #svg_10 {
        -webkit-animation-delay: 1.5s;
                animation-delay: 1.5s; }
      body #app .div1 #svg_11 {
        -webkit-animation-delay: 1.65s;
                animation-delay: 1.65s; }
      body #app .div1 #svg_12 {
        -webkit-animation-delay: 1.8s;
                animation-delay: 1.8s; }
      body #app .div1 #svg_13 {
        -webkit-animation-delay: 1.95s;
                animation-delay: 1.95s; }
      body #app .div1 #svg_14 {
        -webkit-animation-delay: 2.1s;
                animation-delay: 2.1s; }
      body #app .div1 #svg_15 {
        -webkit-animation-delay: 2.25s;
                animation-delay: 2.25s; }
      body #app .div1 #svg_16 {
        -webkit-animation-delay: 2.4s;
                animation-delay: 2.4s; }
      body #app .div1 #svg_17 {
        -webkit-animation-delay: 2.55s;
                animation-delay: 2.55s; }
      body #app .div1 #svg_18 {
        -webkit-animation-delay: 2.7s;
                animation-delay: 2.7s; }
      body #app .div1 #svg_19 {
        -webkit-animation-delay: 2.85s;
                animation-delay: 2.85s; }
      body #app .div1 #svg_20 {
        -webkit-animation-delay: 3s;
                animation-delay: 3s; }

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 1; } }

@keyframes dash {
  to {
    stroke-dashoffset: 1; } }
    body #app .div2 {
      background: #21A179; }
    body #app .div3 {
      background: #B9E28C;
      position: relative; }
      body #app .div3 #div3 {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0; }
        body #app .div3 #div3 canvas {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0; }
    body #app .div4 {
      background: grey; }
* {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

#Login {
  z-index: 10000;
  background: transparent;
  height: 100vh;
  color: white;
  position: absolute;
  top: 0;
  width: 100vw;
  left: 0; }
  #Login .box {
    width: 400px;
    height: auto;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 12px;
    padding-top: 36px;
    padding-bottom: 16px; }
    #Login .box .close {
      width: 15px;
      height: 15px;
      position: absolute;
      right: 4px;
      top: 5px;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      cursor: pointer;
      padding: 10px;
      -webkit-transition: all 0.15s ease-in;
      transition: all 0.15s ease-in; }
      #Login .box .close:after {
        width: 1px;
        position: absolute;
        content: '';
        height: 15px;
        top: 10px;
        left: 17px;
        background: black; }
      #Login .box .close:before {
        height: 1px;
        position: absolute;
        content: '';
        width: 15px;
        top: 17px;
        left: 10px;
        background: black; }
      #Login .box .close:hover {
        -webkit-transform: scale(1.4) rotate(45deg);
                transform: scale(1.4) rotate(45deg); }
    #Login .box .head {
      width: 90%;
      font-size: 18px;
      color: grey;
      margin-left: 5%;
      border-bottom: 1px solid #eee; }
      #Login .box .head .head-box {
        width: auto;
        height: auto;
        display: inline-block;
        font-size: inherit;
        cursor: pointer;
        padding: 5px 14px;
        color: #38817A;
        margin-right: 1px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background: #eee; }
      #Login .box .head .cur {
        border: 1px solid #eee;
        border-bottom: none;
        color: grey;
        font-weight: bold;
        background: white; }
    #Login .box .text-box {
      width: 90%;
      margin-left: 5%;
      padding-top: 6px;
      padding-bottom: 20px;
      text-align: right; }
      #Login .box .text-box .head-name {
        width: 90%;
        color: grey;
        margin-left: 5%;
        font-size: 18px;
        margin-top: 16px;
        margin-bottom: 10px;
        text-align: left; }
        #Login .box .text-box .head-name p {
          display: inline-block;
          color: red;
          font-size: inherit;
          position: relative;
          top: 4px;
          left: 4px;
          text-align: left; }
      #Login .box .text-box input {
        width: 88%;
        padding-left: 2%;
        margin-right: 5%;
        line-height: 40px;
        border-radius: 5px;
        border: 1px solid #eee;
        font-size: 16px;
        color: grey;
        text-align: left; }
      #Login .box .text-box .submit {
        width: auto;
        font-size: 18px;
        color: white;
        background: #38817A;
        text-align: center;
        margin-right: 5%;
        margin-top: 23px;
        padding: 6px 16px;
        display: inline-block;
        border-radius: 4px;
        cursor: pointer; }
