*{
    padding: 0;
    border: 0;
    font-size: 0;
    margin: 0;
}

.mobile{

}

.ipad{

}

.ie{

}

.chrome{

}

.safari{

}

.firefox{

}

/*iphone*/
.iphone5{

}

.iphone6{
    
}

.iphone7{
    
}
/*iphone over*/



