<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
<link href="././css/edit.06914af12dc7998745588928ba5f4bc8.css" rel="stylesheet"></head>
<body>
    <div id="edit">
        <div class="in-box">
            <div class="left">标题</div>
            <textarea v-model="title"></textarea>
        </div>
        <div class="in-box">
            <div class="left">文章</div>
            <textarea class="textbox2" v-model="text"></textarea>
        </div>
        <div class="in-box">
            <div class="left">大分类</div>
            <select v-model="bigselect" @change="changebingselect(bigselect)">
                <option v-for="item in bigSelects">{{item.bigtype}}</option>
            </select>
        </div>
        <div class="in-box">
            <div class="left" >小分类</div>
            <select v-model="smallselect">
                <option v-for="item in smalltypes" :value="item.value"  v-if="bigselect==item.bigtype" >{{item.type}}</option>
            </select>
        </div>
        <div class="submit" v-on:click="submit">提交</div>
    </div>
<script type="text/javascript" src="./script/vendors.js"></script><script type="text/javascript" src="./script/edit.js"></script></body>
<script src="./../script/edit.js"></script>
</html>