*{
    padding: 0;
    border: 0;
    /*font-size: 0;*/
    margin: 0;
}
body{
    background: white;
    width: 100%;
}
body .box{
    width: 400px;
    height: 1900px;
}
body .flag1{
    width: 20px;
    height: 0px;
    background: red;
    position: absolute;
    top: 55%;
    right: 0;
}

body .demo1{
    width: 50vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
}
body .demo2{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: red;
    top: 0;
    left: 0;
}
body .scale{
    transform: scale(2);
}