<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!--<link rel="stylesheet" href="./index.bundle.css"/>-->
</head>
<body>
  <div id="appall">
      <loading v-if="loadingisShow"></loading>
      <div id="app">
          <div class="div1 div">
              <svg id="svgForStroke1" width="196" height="68" xmlns="http://www.w3.org/2000/svg">
                <g>
                <line stroke-linecap="null"  stroke-dasharray="null" stroke-linecap="round" stroke-linejoin="null" id="svg_1" y2="6" x2="30.5" y1="6" x1="6.5" fill-opacity="null" stroke-opacity="null" stroke="#fff" fill="none"/>
                <line stroke-linecap="null"  stroke-dasharray="null" stroke-linecap="round"stroke-linejoin="null" id="svg_2" y2="54.624828" x2="7.313114" y1="6.500164" x1="7.188114" fill-opacity="null" stroke-opacity="null" stroke="#fff" fill="none"/>
                <line stroke-linecap="null"  stroke-dasharray="null" stroke-linejoin="null" id="svg_3" y2="55.999818" x2="31.437945" y1="56.124817" x1="7.438113" fill-opacity="null" stroke-opacity="null" stroke="#fff" fill="none"/>
                <line stroke-linecap="null"  stroke-dasharray="null" stroke-linejoin="null" id="svg_4" y2="56.249817" x2="33.312932" y1="5.62517" x1="33.187933" fill-opacity="null" stroke-opacity="null" stroke="#fff" fill="none"/>
                <line stroke-linecap="null"  stroke-dasharray="null" stroke-linejoin="null" id="svg_5" y2="30.749995" x2="52.312799" y1="30.874994" x1="34.187926" fill-opacity="null" stroke-opacity="null" stroke="#fff" fill="none"/>
                <line stroke-linecap="null"  stroke-dasharray="null" stroke-linejoin="null" id="svg_6" y2="56.249817" x2="54.187786" y1="5.750169" x1="53.812789" fill-opacity="null" stroke-opacity="null" stroke="#fff" fill="none"/>
                <line stroke-linecap="null"  stroke-dasharray="null" stroke-linejoin="null" id="svg_7" y2="5.500171" x2="79.312611" y1="5.750169" x1="56.187772" fill-opacity="null" stroke-opacity="null" stroke="#fff" fill="none"/>
                <line stroke-linecap="null"  stroke-dasharray="null" stroke-linejoin="null" id="svg_8" y2="30.124999" x2="80.562602" y1="30.374997" x1="56.062773" fill-opacity="null" stroke-opacity="null" stroke="#fff" fill="none"/>
                <line stroke-linecap="null"  stroke-dasharray="null" stroke-linejoin="null" id="svg_9" y2="55.374823" x2="80.312604" y1="55.874819" x1="55.812775" fill-opacity="null" stroke-opacity="null" stroke="#fff" fill="none"/>
                <line stroke-linecap="null"  stroke-dasharray="null" stroke-linejoin="null" id="svg_10" y2="56.124817" x2="83.312583" y1="5.125174" x1="82.812586" fill-opacity="null" stroke-opacity="null" stroke="#fff" fill="none"/>
                <line stroke-linecap="null"  stroke-dasharray="null" stroke-linejoin="null" id="svg_11" y2="55.874819" x2="108.437407" y1="5.500171" x1="84.437575" fill-opacity="null" stroke-opacity="null" stroke="#fff" fill="none"/>
                <line stroke-linecap="null"  stroke-dasharray="null" stroke-linejoin="null" id="svg_12" y2="54.999825" x2="110.187395" y1="4.625177" x1="109.562399" fill-opacity="null" stroke-opacity="null" stroke="#fff" fill="none"/>
                <line stroke-linecap="null"  stroke-dasharray="null" stroke-linejoin="null" id="svg_13" y2="21.500059" x2="138.687196" y1="5.000175" x1="123.437302" fill-opacity="null" stroke-opacity="null" stroke="#fff" fill="none"/>
                <line stroke-linecap="null"  stroke-dasharray="null" stroke-linejoin="null" id="svg_14" y2="3.875183" x2="153.81209" y1="21.250061" x1="140.437183" fill-opacity="null" stroke-opacity="null" stroke="#fff" fill="none"/>
                <line stroke-linecap="null"  stroke-dasharray="null" stroke-linejoin="null" id="svg_15" y2="52.749841" x2="139.687189" y1="21.250061" x1="139.43719" fill-opacity="null" stroke-opacity="null" stroke="#fff" fill="none"/>
                <line stroke-linecap="null"  stroke-dasharray="null" stroke-linejoin="null" id="svg_16" y2="54.499829" x2="142.937166" y1="54.499829" x1="136.312212" fill-opacity="null" stroke-opacity="null" stroke="#fff" fill="none"/>
                <line stroke-linecap="null"  stroke-dasharray="null" stroke-linejoin="null" id="svg_17" y2="4.25018" x2="181.811894" y1="4.500178" x1="159.437051" fill-opacity="null" stroke-opacity="null" stroke="#fff" fill="none"/>
                <line stroke-linecap="null"  stroke-dasharray="null" stroke-linejoin="null" id="svg_18" y2="54.249831" x2="171.436967" y1="5.750169" x1="170.93697" fill-opacity="null" stroke-opacity="null" stroke="#fff" fill="none"/>
                <line stroke-linecap="null"  stroke-dasharray="null" stroke-linejoin="null" id="svg_19" y2="53.624835" x2="182.561889" y1="53.624835" x1="161.687035" fill-opacity="null" stroke-opacity="null" stroke="#fff" fill="none"/>
                </g>
            </svg>
          </div>
          <div class="div2 div">
              <div class="text-box">
                  <!--<div class="text-littel" v-for="item in allarticle.getarticle">
                      <div class="back-box">{{item.title}}</div>
                      <a :href="'./text.html?articleid='+item.id"><div class="content-box">{{item.title}}</div></a>
                  </div>-->
                  <div class="text-littel" v-for="item in 20">
                      <div class="back-box">aaaaa</div>
                      <a :href="'./text.html'"><div class="content-box">bbbbbbb</div></a>
                  </div>
                  <div class="trigle"></div>
              </div>
          </div>
          <div class="div3 div">
              <div id="div3">
                  <canvas id="canvas">

                  </canvas>
                  <div class="show-box">
                      <div class="small-box left"></div>
                      <div class="small-box right"></div>
                      <div class="small-box left"></div>
                      <div class="small-box right"></div>
                  </div>
              </div>
          </div>
          <div class="div4 div">
              <div class="search">
                  <input type="text"/>
              </div>
          </div>
      </div>
      <div class="slider">
              
      </div>
      <div class="menu" v-on:click="setMenu">
        <div class="menubox">
          <div class="menuline"></div>
          <div class="menuline"></div>
          <div class="menuline"></div>
          <div class="menuline"></div>
          <div class="menuline"></div>
        </div>
      </div>
      <div class="login" v-on:click="changeshowlog">
            login
      </div>
      <div id="Login" v-if="loginShow.showif" :class="{'animated':signin.isshake,'shake':signin.isshake}" >
            <div class="box">
                <div class="close" v-on:click="close"></div>
                <div class="head">
                    <div class="head-box" v-on:click="changeSignPage(1)" :class="{'cur':loginShow.flagSee==1}"> sign in </div>
                    <div class="head-box" v-on:click="changeSignPage(2)" :class="{'cur':loginShow.flagSee==2}"> create account </div>
                </div>
                <div class="text-box" v-if="loginShow.flagSee==1" >
                    <div class="head-name">username<p>*</p></div>
                    <input type="text" v-model="signin.username"/>
                    <div class="head-name">password<p>*</p></div>
                    <input type="password" v-model="signin.password"/>
                    <div class="submit" v-on:click="signIn">Sign In</div>
                </div>
                <div class="text-box" v-if="loginShow.flagSee==2">
                    <div class="head-name">username<p>*</p></div>
                    <input type="text" v-model="create.username"/>
                    <div class="head-name">email<p>*</p></div>
                    <input type="text" v-model="create.email"/>
                    <div class="head-name">password<p>*</p></div>
                    <input type="password" v-model="create.password"/>
                    <div class="head-name">confirm password<p>*</p></div>
                    <input type="password" v-model="create.repassword"/>
                    <div class="head-name">mobile<p>*</p></div>
                    <input type="text" v-model="create.mobile"/>
                    <div class="submit" v-on:click="creatAccount()">Create an Account</div>
                </div>
            </div>
      </div>
      <!--<login :showif="showlog" ></login>-->
      <div class="click clicktop" :class="{ notShowclick: isShowClick}" v-on:click="setChange(1)"><i class="iconfont position-change">&#xe672;</i></div>
      <div class="click clickbottom" v-on:click="setChange(2)"><i class="iconfont position-change">&#xe673;</i></div>
  </div>
    <!-- <img imgsrc="./../imgs/s.jpg" alt="" id="b"> -->
</body>
<script src="./../script/index.js"></script>
</html>
