<div class="hbs">
    <a>
    This is the appdd!
    </a>
</div>
<style>
    .hbs{
        width: 200px;
        height: 20px;
        background: grey;
    }
    a{
        color:white;
    }
</style>