<link href="css/head.css" rel="stylesheet" type="text/css"/>
<div class="head">
    <div class="head-box"></div>
    <div class="head-box-in">
        <div class="middle">
            <div class="in">s啊啊s</div>
            <div class="in">s订单s</div>
            <div class="in">s啊啊啊s</div>
            <div class="in">s是是是s</div>   
        </div>    
    </div>      
</div>