<link href="css/loading.css" rel="stylesheet" type="text/css"/>
<div class="loading">
    <div class="loading_box">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
    </div>
</div>
